body {
    background-color: #ebe7e2;
    margin: 0;
    padding: 0;
    cursor: url('../images/mouseicon/1.png'), auto;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

/* ----------------day75----------------- */
.day75Container {
    position: relative;
    height: 200vh;
    margin-left: 28vh;

    margin-top: 10vh;
}

#day75-1 {
    position: absolute;
    animation: slide 5s infinite alternate ease-in-out;
}

#day75-2-1 {
    position: absolute;
    right: 27%;
    z-index: 2;
    transition: opacity 0.5s ease-out;
    /* 移除 transform 的过渡效果 */
    animation: zoomInOut 0.5s infinite alternate;
    /* 应用动画 */
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

#day75-2-1:hover {
    cursor: url('../images/mouseicon/2.png'), auto;
    animation: none;
    /* 移除动画 */
    transform: scale(1.1);
    /* 设置悬停时的放大效果 */
}


#day75-2-2 {
    position: absolute;
    right: 27%;
}

.fade-out {
    opacity: 0;
    /* 使元素透明 */
}

#day75-3 {
    position: absolute;
    bottom: 20%;
    left: 10%;
    /* 初始位置向左50vh */
    animation: slide 5s infinite alternate ease-in-out;
    /* 滑动效果 */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50px);
        /* 根据需要调整50px以控制滑动距离 */
    }
}

#letter1, #letter2 {
    position: absolute;
    bottom: 15%;
    z-index: 2;
    
}

#letter1 {
    left: 10%;
    animation: moveUpDown 3s ease-in-out infinite alternate;
}

#letter2 {
    right: 20%;
    animation: moveUpDown2 3s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px); /* 调整这里的值来改变移动的距离 */
    }
}
@keyframes moveUpDown2 {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0); /* 调整这里的值来改变移动的距离 */
    }
}

/* ----------------day79----------------- */
.day79Container img {
    transform: scale(0.55);
}

.day79Container {
    position: relative;
    height: 200vh;
    margin-left: 28vh;
}

#day79-1 {
    position: absolute;
    right: 10%;
    animation: slide2 5s infinite alternate ease-in-out;
}

#day79-2 {
    transform: scale(0.6);
    position: absolute;
    left: -20%;
    top: 10%;
}

#day79-3 {
    z-index: 4;
    position: absolute;
    top: 58%;
    left: -10%;
    opacity: 0;
    /* 初始不可见 */
    transition: opacity 2s, transform 2s;
    /* 缓慢增大效果 */
}

#kaoxiang {
    z-index: 3;
    position: absolute;
    right: 28.5%;
    top: 53%;
    transition: transform 0.2s ease-in-out;
    transform: scale(0.5);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg) scale(0.6);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg) scale(0.6);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg) scale(0.6);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg) scale(0.6);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg) scale(0.6);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg) scale(0.6);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg) scale(0.6);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg) scale(0.6);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg) scale(0.6);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg) scale(0.6);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg) scale(0.6);
    }
}

#kaoxiang:hover {

    cursor: url('../images/mouseicon/2.png'), auto;
}

/* ------------------6 months later----------------------- */
.month6Container img {
    transform: scale(0.6);
}

.month6Container {
    position: relative;
    height: 200vh;
    margin-top: 50vh;
    margin-left: 2vh;
}

#month6-1 {
    position: absolute;
    top: 20%;
    animation: slide3 5s infinite alternate ease-in-out;
    transform: (0.7);

}

@keyframes slide3 {
    0% {
        transform: translateX(0) scale(0.7);
        /* 初始位置并缩小图像 */
    }

    100% {
        transform: translateX(50px) scale(0.7);
        /* 滑动并缩小图像 */
    }
}

#month6-2 {
    position: absolute;
    top: -0%;
    left: -10%;
}

#month6-3 {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: scale(0.5);
    /* 缩小图像 */
    animation: slide2 5s infinite alternate ease-in-out;
}

@keyframes slide2 {
    0% {
        transform: translateY(0) scale(0.5);
        /* 初始位置并缩小图像 */
    }

    100% {
        transform: translateY(50px) scale(0.5);
        /* 滑动并缩小图像 */
    }
}


/* --------------------1 year later------------------------ */
/* ---------------------1 year container--------------------- */
.year1Container img {
    transform: scale(0.6);
}

.year1Container {
    position: relative;
    height: 200vh;
    margin-left: 8vh;
    margin-top: 100vh;
}

#year1-1 {
    position: absolute;
    top: 0%;
    animation: slide2 5s infinite alternate ease-in-out;
}

#year1-2 {
    transform: scale(0.7);
    position: absolute;
    top: 50%;
}

@keyframes shakeHorizontal {
    0% {
        transform: translateX(0) scale(0.7);
    }

    25% {
        transform: translateX(-6px) scale(0.7);
    }

    50% {
        transform: translateX(5px) scale(0.7);
    }

    75% {
        transform: translateX(-4px) scale(0.7);
    }

    100% {
        transform: translateX(0) scale(0.7);
    }
}

#year1-2:hover {
    animation: shakeHorizontal 0.5s infinite;
    cursor: url('../images/mouseicon/2.png'), auto;
}

/* ---------------------1 year container2--------------------- */
.year1Container2 img {
    transform: scale(0.6);
}

.year1Container2 {
    position: relative;
    height: 100vh;
    margin-top: 10vh;
}

.year1Container2 {
    position: relative;
    height: 100vh;
}

.map-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.map-main {
    display: block;
    margin-left: auto;
    margin-right: auto;

    opacity: 0;
    transition: opacity 1s ease-in-out;
    /* Smooth transition */

}

.map-sub {
    position: absolute;
    top: 100%;
    left: 44%;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out;
    /* Smooth transition */
}

.map-sub:hover {
    transform: scale(1.1);
    /* Slightly enlarge on hover */
    cursor: url('../images/mouseicon/2.png'), auto;
}

#map-1 {
    transform: scale(1);
    position: absolute;
    z-index: 2;
    top: 85%;
    right: 21%;
}

#map-2 {
    transform: scale(1);
    position: absolute;
    z-index: 2;
    top: 73%;
    right: 48%;
}

#map-3 {
    transform: scale(1);
    position: absolute;
    z-index: 2;
    top: 43%;
    right: 20%;
}


/* ---------------------3 years container--------------------- */
.year3Container img {
    transform: scale(0.6);
    animation: slide3 5s infinite alternate ease-in-out;
}

.year3Container {
    position: relative;
    height: 80vh;
    margin-top: 100vh;
}



/* ------------------------end container--------------------------- */

.endContainer {
    position: relative;
    height: 700vh;
    margin-top: 170vh;
    text-align: center;
}

/* --------------back continue button----------------- */
#back,
#continue {

    color: #000000;
    text-align: center;
    font-size: 20px;
    border: 2px solid #000;
    /* 将边框颜色设置为黑色 */
    padding: 10px 20px;

}

#back {
    background-color: #ebe7e2;
    position: absolute;
    left: 8%;
    top: 5%;
}

#continue {
    background-color: #ffffff;
    position: absolute;
    bottom: 0%;
    right: 5%;

}

#continue:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    transition: 0.7s;

    cursor: url('../images/mouseicon/2.png'), auto;
}

#back:hover {
    background-color: rgb(51, 51, 50);
    color: rgb(255, 255, 255);
    border-color: rgb(51, 51, 50);
    transition: 0.7s;
    cursor: url('../images/mouseicon/2.png'), auto;
}